<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://rc1b-un3vw5lq2n8ualds.mdb.yandexcloud.net:6432/db1?&amp;targetServerType=master&amp;ssl=true&amp;ssl=disabled</property>
    <property name="hibernate.connection.username">user1</property>
    <property name="hibernate.connection.password">netcracker</property>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>
  </session-factory>
</hibernate-configuration>